body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}


.name {background-color: white;
    font-family: cursive;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 h1 {
     display: flex;
     color: white;
     font-weight: bold;
     font-size: 40px;
     align-items: center;
     justify-content: center;
     padding: 0%;
     margin: 0%;
 }
 h2 {
     color: white;
     display: grid;
     justify-content: center;
     margin: 0%;
     padding: 0%;
    font-size: 20px;
 }
 
 .sticker {
     height: 200px;
     width: 500px;
     display: grid;
     grid-template-rows: 2fr 1fr 1fr;
    background-color: red;
    border-radius: 10px;
    display: grid;
}
button {
    display: flex;
    justify-content: center;
}
.namebutton {
    background-color: silver;
}
.probutton {
    background-color: teal;
}

.background-colors {
    display: inline-flex;
    justify-content: space-between;
}

.inputName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: fantasy;
    background-color: rgb(228, 237, 210);
    
}

button {
    font-family: fantasy;
    text-transform: uppercase;
} 

.bluebutton {
    background-color: blue;
}
.orangebutton {
    background-color: orange;
}

.blackbutton {
    background-color: black;
    color: white;
}


.magentabutton {
background-color: magenta;
}

.proinput {
    text-align: center;
    background-color: rgb(228, 237, 210);
}

 * {
     box-sizing: border-box;
 }